{namespace files=Lilio\NodeTypes\Media\ViewHelpers}

<f:if condition="{tag}">
	<f:then>
		<ul class="lilio-nodetypes-files-list">
		<f:for each="{files:assetsForTag(identifier:tag)}" as="asset">
			<li>
				<h4><f:link.external uri="{f:uri.resource(resource:asset.resource)}">{asset.title}</f:link.external></h4>
				<f:if condition="{asset.caption}">
					{asset.caption}
				</f:if>
			</li>
		</f:for>
		</ul>
	</f:then>
	<f:else>
		<p>Please select a tag in the Inspector.</p>
	</f:else>
</f:if>


